name: Insider QA Automation CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
    workflow_dispatch:

jobs:
  test:
    name: Run UI Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'

      # Ubuntu üzerinde UI testi çalıştırabilmek için Xvfb (Sanal Ekran) kullanıyoruz
      - name: Run Tests with Maven
        run: xvfb-run mvn clean test

      # Test sonuçlarını (Allure Results) artifact olarak yüklüyoruz
      - name: Upload Allure Results
        if: always() # Test başarısız olsa bile raporu yükle
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: target/allure-results
          retention-days: 7